# Recommender system Reading from pickeled data

In [1]:
import pandas as pd

In [2]:
import numpy as np
import h5py

In [3]:
from pymongo import MongoClient

In [4]:
try: 
    conn = MongoClient('192.168.1.101', 27017) 
    print("Connected successfully!!!") 
except:   
    print("Could not connect to MongoDB")

Connected successfully!!!

In [12]:
%time df = pd.read_pickle('CosSimMatrix.pkl')

Wall time: 1.61 s

In [13]:
df

,600,602,604,872,873,875,868,1017,1019,895,...,298170,261306,75618,11463,262337,319014,202525,298146,262355,144068
600,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
604,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
872,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
873,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
202525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
298146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
262355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
144068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [14]:
#del df1

In [164]:
df_columns = df.columns.astype(str)

In [165]:
lcolumn = list(df_columns)

In [166]:
df1 = pd.DataFrame(df.values , columns = lcolumn , index = lcolumn)

In [167]:
df1

,600,602,604,872,873,875,868,1017,1019,895,...,298170,261306,75618,11463,262337,319014,202525,298146,262355,144068
600,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
604,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
872,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
873,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
202525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
298146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
262355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
144068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [168]:
df1.reset_index(inplace=True,drop = True)

In [169]:
lcolumn = [int(i) for i in lcolumn]

In [170]:
df1.insert(0,"itemid",lcolumn)

In [171]:
df1

,itemid,600,602,604,872,873,875,868,1017,1019,...,298170,261306,75618,11463,262337,319014,202525,298146,262355,144068
0,600,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,602,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,604,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,872,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,873,36.0,79.0,54.0,16.0,15.0,4.0,11.0,1.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15003,319014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15004,202525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15005,298146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15006,262355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
15007,144068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [214]:
df4 = df1.loc[df1.itemid == 139584]

In [215]:
df4

,itemid,600,602,604,872,873,875,868,1017,1019,...,298170,261306,75618,11463,262337,319014,202525,298146,262355,144068
7636,139584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [63]:
df2

,164,669,767,768,436,1294,1197,1196,580,728,...,15376,7905,4822,5267,5302,40205,14852,15733,7835,144068
0,5129.0,4803.0,4296.0,4104.0,4020.0,3999.0,3979.0,3832.0,3708.0,3433.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5129.0,4803.0,4296.0,4104.0,4020.0,3999.0,3979.0,3832.0,3708.0,3433.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5129.0,4803.0,4296.0,4104.0,4020.0,3999.0,3979.0,3832.0,3708.0,3433.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5129.0,4803.0,4296.0,4104.0,4020.0,3999.0,3979.0,3832.0,3708.0,3433.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5129.0,4803.0,4296.0,4104.0,4020.0,3999.0,3979.0,3832.0,3708.0,3433.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [147]:
lcolumn = list(df2.columns)

In [148]:
len(lcolumn)

15009

In [149]:
'itemid' in [lcolumn]

False

In [154]:
lcolumn[200]

'itemid'

In [16]:
%time data_dict = df1.to_dict('records')

Wall time: 3min 2s

In [20]:
#df.set_index('ID').T.to_dict('list')

In [21]:
len (data_dict)

15008

In [22]:
mydb = conn.ankit_database
collection = mydb.RecSysItem

In [23]:
#collection.insert(data_dict)

In [24]:
collection.insert_many(data_dict)

In [ ]:
#company.insert_one({"index":"Sensex","data":data_dict})

In [ ]:
2.9 gb

In [27]:
#collection.insert_many({"index":"Sensex","data":data_dict})

In [ ]:
46:20

In [ ]:
# rec_id1 = collection.insert_one(emp_rec1) 
# rec_id2 = collection.insert_one(emp_rec2)

# hdf5

In [36]:
#hdf = pd.HDFStore('C:/Users/Ankit/Documents/hdf5_pandas.h5')

In [37]:
#hdf.close()

In [38]:
arr = df.values

In [50]:
lcolumn = list(df.columns)

In [72]:
with h5py.File('//192.168.1.101/PyhtonAPIs/hdf5_matr.h6', 'w') as hdf:
    hdf.create_dataset("datasetc", data=lcolumn)
    hdf.create_dataset("dataset", data=arr)

In [73]:
with h5py.File('//192.168.1.101/PyhtonAPIs/hdf5_matr.h6', 'r') as hdf:
        data = hdf.get('dataset')
        datac = hdf.get('datasetc')
        dataset = np.array(data)
        datacol = np.array(datac)

In [74]:
dataset

array([[ 15., 123.,  49., ...,   0.,   0.,   0.],
       [ 15., 123.,  49., ...,   0.,   0.,   0.],
       [ 15., 123.,  49., ...,   0.,   0.,   0.],
       ...,
       [  0.,   0.,   0., ...,   2.,   0.,   0.],
       [  0.,   0.,   0., ...,   0.,  23.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.]])

In [75]:
lcolumn = list(datacol)

In [76]:
dfh = pd.DataFrame(dataset , columns = lcolumn, index = lcolumn)

In [77]:
dfh

,0,1,2,3,4,5,6,7,8,9,...,319410,319411,319466,319616,320773,320775,320776,321387,321577,1000000000
0,15.0,123.0,49.0,66.0,63.0,4.0,107.0,54.0,60.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.0,123.0,49.0,66.0,63.0,4.0,107.0,54.0,60.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15.0,123.0,49.0,66.0,63.0,4.0,107.0,54.0,60.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15.0,123.0,49.0,66.0,63.0,4.0,107.0,54.0,60.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,15.0,123.0,49.0,66.0,63.0,4.0,107.0,54.0,60.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320775,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0
320776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
321387,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
321577,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,0.0
1000000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# df1.set_index(lc)