## Using Recommender

In [1]:
from pymongo import MongoClient

In [2]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
import numpy as np

In [4]:
try: 
    conn = MongoClient('192.168.1.72', 27017) 
    print("Connected successfully!!!") 
except:   
    print("Could not connect to MongoDB")

Connected successfully!!!

# sklearn cosine similarity

In [5]:
mydb = conn.SK
collection = mydb.OrderMaster

In [6]:
%time df = pd.DataFrame(list(collection.find({},{"Skcode":1,"orderDetails":1,"_id":0})))

Wall time: 48.2 s

In [7]:
df

         Skcode                                       orderDetails
0        SK4056  [{'GUID': eaf3db20-70a4-cb41-a3cf-aadf796ef451...
1        SK4422  [{'GUID': dfd0a9a5-8103-f245-b6ef-93019a401c1b...
2        SK4774  [{'GUID': 72461cd5-749f-f041-adfc-828d9680a08a...
3        SK4973  [{'GUID': 0b3121a6-8249-6a48-9efe-a43dec20d50d...
4        SK4781  [{'GUID': f4a16666-ff71-dd43-b941-151b32d2b30e...
...         ...                                                ...
270199  SK47685  [{'GUID': 158dcf29-a13a-234c-81bb-9181fabd8c58...
270200  SK62037  [{'GUID': 4873196a-c821-e34a-b6c6-ccc12f9d2ff5...
270201  SK22720  [{'GUID': bb093a3c-1755-5d48-82b7-744a6ab7db38...
270202  SK20341  [{'GUID': afa8938f-4f1a-5b4e-82da-52f8a70b4f69...
270203  SK36448  [{'GUID': 3a5d08e3-e60f-7744-87c3-2948f8d1cebc...

[270204 rows x 2 columns]

In [8]:
#df.iloc[0,1]

In [9]:
df["item"] = [[i[j]['ItemId'] for j in range(len(i))] for i in df['orderDetails']]

In [10]:
df = df[['Skcode','item']]

In [11]:
df

         Skcode                                               item
0        SK4056  [600, 602, 604, 872, 873, 875, 868, 1017, 1019...
1        SK4422                                    [601, 611, 617]
2        SK4774                                         [739, 707]
3        SK4973                                              [684]
4        SK4781                               [684, 701, 702, 709]
...         ...                                                ...
270199  SK47685                                   [218942, 199731]
270200  SK62037                                   [315661, 315661]
270201  SK22720      [8898, 8883, 9989, 144329, 10159, 8617, 9631]
270202  SK20341                                           [225005]
270203  SK36448                                     [76258, 77134]

[270204 rows x 2 columns]

In [12]:
c1 = df.explode('item')

In [13]:
c1

         Skcode    item
0        SK4056     600
0        SK4056     602
0        SK4056     604
0        SK4056     872
0        SK4056     873
...         ...     ...
270201  SK22720    8617
270201  SK22720    9631
270202  SK20341  225005
270203  SK36448   76258
270203  SK36448   77134

[1155786 rows x 2 columns]

In [14]:
df = df.iloc[0:20]
c = df.iloc[0:20]

In [15]:
ind = list(c['Skcode'])

In [17]:
df1 = df.explode('item')

In [18]:
df1['rating'] = df1.apply(lambda _: '1', axis=1)

In [19]:
dataset=list(df['item'])

In [20]:
from mlxtend.preprocessing import TransactionEncoder

In [21]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)


df2 = pd.DataFrame(te_ary, columns=te.columns_)

In [22]:
df2

,600,601,602,604,611,614,617,642,645,648,...,1019,1033,1060,1099,1100,1104,1110,1139,1141,1165
0,True,False,True,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,False,True,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
9,False,True,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
15,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
17,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
18,False,False,False,False,False,True,False,True,True,True,...,False,False,False,False,False,True,True,False,True,True
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
%time df3=df2.astype("int")

Wall time: 0 ns

In [24]:
df3

,600,601,602,604,611,614,617,642,645,648,...,1019,1033,1060,1099,1100,1104,1110,1139,1141,1165
0,1,0,1,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,1,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9,0,1,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
15,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,0,0,0,0,0,1,0,1,1,1,...,0,0,0,0,0,1,1,0,1,1
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
cl = list(df3.columns)

In [26]:
%time df4 = pd.DataFrame(df3.values , columns = cl , index = ind)

Wall time: 0 ns

In [27]:
df4

,600,601,602,604,611,614,617,642,645,648,...,1019,1033,1060,1099,1100,1104,1110,1139,1141,1165
SK4056,1,0,1,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
SK4422,0,1,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4774,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4973,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4781,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4558,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4576,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4786,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
SK4788,0,1,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4787,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4789,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4791,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
SK4032,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SK4033,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
SK4245,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
SK4127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
SK4058,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
SK4247,0,0,0,0,0,1,0,1,1,1,...,0,0,0,0,0,1,1,0,1,1
SK4037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# normalized_df = df4.astype(np.float32)

In [29]:
df4.T

,SK4056,SK4422,SK4774,SK4973,SK4781,SK4558,SK4316,SK4576,SK4786,SK4788,SK4787,SK4789,SK4791,SK4032,SK4033,SK4245,SK4127,SK4058,SK4247,SK4037
600,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
601,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
602,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
604,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
611,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1110,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1139,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1141,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1165,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [30]:
item_similarity = cosine_similarity(df4.T)

In [31]:
user_similarity = cosine_similarity(df4)

In [32]:
item_sim = pd.DataFrame(item_similarity)
user_sim = pd.DataFrame(user_similarity)

# surprise cosine similarity

In [33]:
c

    Skcode                                               item
0   SK4056  [600, 602, 604, 872, 873, 875, 868, 1017, 1019...
1   SK4422                                    [601, 611, 617]
2   SK4774                                         [739, 707]
3   SK4973                                              [684]
4   SK4781                               [684, 701, 702, 709]
5   SK4558                                         [685, 973]
6   SK4316                               [894, 656, 709, 728]
7   SK4576                                    [730, 964, 731]
8   SK4786               [885, 898, 979, 980, 1100, 715, 943]
9   SK4788                     [726, 727, 601, 886, 611, 617]
10  SK4787                                              [739]
11  SK4789                                         [739, 740]
12  SK4791                                   [684, 1060, 885]
13  SK4032                          [659, 678, 651, 654, 686]
14  SK4033                              [684, 702, 1099, 683]
15  SK4245                              [898, 917, 1033, 614]
16  SK4127                              [683, 684, 1139, 657]
17  SK4058               [739, 681, 1141, 674, 617, 728, 979]
18  SK4247  [890, 651, 649, 648, 645, 642, 614, 684, 1104,...
19  SK4037                          [687, 665, 681, 979, 653]

In [34]:
c = c.explode('item')

In [35]:
c['rating'] = c.apply(lambda _: '1', axis=1)
c.columns = ['userID','itemID', 'rating']
c

    userID itemID rating
0   SK4056    600      1
0   SK4056    602      1
0   SK4056    604      1
0   SK4056    872      1
0   SK4056    873      1
..     ...    ...    ...
19  SK4037    687      1
19  SK4037    665      1
19  SK4037    681      1
19  SK4037    979      1
19  SK4037    653      1

[92 rows x 3 columns]

In [36]:
c.loc[c.itemID == 600]

   userID itemID rating
0  SK4056    600      1

In [37]:
c['rating'] = c['rating'].astype(int)

In [59]:
c

    userID itemID  rating
0   SK4056    600       1
0   SK4056    602       1
0   SK4056    604       1
0   SK4056    872       1
0   SK4056    873       1
..     ...    ...     ...
19  SK4037    687       1
19  SK4037    665       1
19  SK4037    681       1
19  SK4037    979       1
19  SK4037    653       1

[92 rows x 3 columns]

In [65]:
litemID = list(c['itemID'])

In [66]:
luserID = list(c['userID'])

In [39]:
from surprise import KNNBasic
import heapq
from collections import defaultdict
from operator import itemgetter

In [40]:
from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

In [41]:
temp = []

reader = Reader(rating_scale=(0, 5))

data = Dataset.load_from_df(c[['userID', 'itemID', 'rating']], reader)



k = 10

trainSet = data.build_full_trainset()

sim_options = {'name': 'cosine',
               'user_based': False
               }

model = KNNBasic(sim_options=sim_options)
model.fit(trainSet)
simsMatrix = model.compute_similarities()

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.

In [42]:
simsMatrix

array([[1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.]])

In [50]:
np.array(trainSet)

array(<surprise.trainset.Trainset object at 0x000001F1B33C0648>,
      dtype=object)

In [58]:
# dir(trainSet)

In [53]:
trainSet.__dict__

{'ur': defaultdict(<class 'list'>, {0: [(0, 1.0), (1, 1.0), (2, 1.0), (3, 1.0), (4, 1.0), (5, 1.0), (6, 1.0), (7, 1.0), (8, 1.0), (9, 1.0)], 1: [(10, 1.0), (11, 1.0), (12, 1.0)], 2: [(13, 1.0), (14, 1.0)], 3: [(15, 1.0)], 4: [(15, 1.0), (16, 1.0), (17, 1.0), (18, 1.0)], 5: [(19, 1.0), (20, 1.0)], 6: [(21, 1.0), (22, 1.0), (18, 1.0), (23, 1.0)], 7: [(24, 1.0), (25, 1.0), (26, 1.0)], 8: [(27, 1.0), (28, 1.0), (29, 1.0), (30, 1.0), (31, 1.0), (32, 1.0), (33, 1.0)], 9: [(34, 1.0), (35, 1.0), (10, 1.0), (36, 1.0), (11, 1.0), (12, 1.0)], 10: [(13, 1.0)], 11: [(13, 1.0), (37, 1.0)], 12: [(15, 1.0), (38, 1.0), (27, 1.0)], 13: [(39, 1.0), (40, 1.0), (41, 1.0), (42, 1.0), (43, 1.0)], 14: [(15, 1.0), (17, 1.0), (44, 1.0), (45, 1.0)], 15: [(28, 1.0), (46, 1.0), (47, 1.0), (48, 1.0)], 16: [(45, 1.0), (15, 1.0), (49, 1.0), (50, 1.0)], 17: [(13, 1.0), (51, 1.0), (52, 1.0), (53, 1.0), (12, 1.0), (23, 1.0), (29, 1.0)], 18: [(54, 1.0), (41, 1.0), (55, 1.0), (56, 1.0), (57, 1.0), (58, 1.0), (48, 1.0), (15, 1.0), (59, 1.0), (52, 1.0), (17, 1.0), (27, 1.0), (60, 1.0), (61, 1.0), (62, 1.0)], 19: [(63, 1.0), (64, 1.0), (51, 1.0), (29, 1.0), (65, 1.0)]}), 'ir': defaultdict(<class 'list'>, {0: [(0, 1.0)], 1: [(0, 1.0)], 2: [(0, 1.0)], 3: [(0, 1.0)], 4: [(0, 1.0)], 5: [(0, 1.0)], 6: [(0, 1.0)], 7: [(0, 1.0)], 8: [(0, 1.0)], 9: [(0, 1.0)], 10: [(1, 1.0), (9, 1.0)], 11: [(1, 1.0), (9, 1.0)], 12: [(1, 1.0), (9, 1.0), (17, 1.0)], 13: [(2, 1.0), (10, 1.0), (11, 1.0), (17, 1.0)], 14: [(2, 1.0)], 15: [(3, 1.0), (4, 1.0), (12, 1.0), (14, 1.0), (16, 1.0), (18, 1.0)], 16: [(4, 1.0)], 17: [(4, 1.0), (14, 1.0), (18, 1.0)], 18: [(4, 1.0), (6, 1.0)], 19: [(5, 1.0)], 20: [(5, 1.0)], 21: [(6, 1.0)], 22: [(6, 1.0)], 23: [(6, 1.0), (17, 1.0)], 24: [(7, 1.0)], 25: [(7, 1.0)], 26: [(7, 1.0)], 27: [(8, 1.0), (12, 1.0), (18, 1.0)], 28: [(8, 1.0), (15, 1.0)], 29: [(8, 1.0), (17, 1.0), (19, 1.0)], 30: [(8, 1.0)], 31: [(8, 1.0)], 32: [(8, 1.0)], 33: [(8, 1.0)], 34: [(9, 1.0)], 35: [(9, 1.0)], 36: [(9, 1.0)], 37: [(11, 1.0)], 38: [(12, 1.0)], 39: [(13, 1.0)], 40: [(13, 1.0)], 41: [(13, 1.0), (18, 1.0)], 42: [(13, 1.0)], 43: [(13, 1.0)], 44: [(14, 1.0)], 45: [(14, 1.0), (16, 1.0)], 46: [(15, 1.0)], 47: [(15, 1.0)], 48: [(15, 1.0), (18, 1.0)], 49: [(16, 1.0)], 50: [(16, 1.0)], 51: [(17, 1.0), (19, 1.0)], 52: [(17, 1.0), (18, 1.0)], 53: [(17, 1.0)], 54: [(18, 1.0)], 55: [(18, 1.0)], 56: [(18, 1.0)], 57: [(18, 1.0)], 58: [(18, 1.0)], 59: [(18, 1.0)], 60: [(18, 1.0)], 61: [(18, 1.0)], 62: [(18, 1.0)], 63: [(19, 1.0)], 64: [(19, 1.0)], 65: [(19, 1.0)]}), 'n_users': 20, 'n_items': 66, 'n_ratings': 92, 'rating_scale': (0, 5), '_raw2inner_id_users': {'SK4056': 0, 'SK4422': 1, 'SK4774': 2, 'SK4973': 3, 'SK4781': 4, 'SK4558': 5, 'SK4316': 6, 'SK4576': 7, 'SK4786': 8, 'SK4788': 9, 'SK4787': 10, 'SK4789': 11, 'SK4791': 12, 'SK4032': 13, 'SK4033': 14, 'SK4245': 15, 'SK4127': 16, 'SK4058': 17, 'SK4247': 18, 'SK4037': 19}, '_raw2inner_id_items': {600: 0, 602: 1, 604: 2, 872: 3, 873: 4, 875: 5, 868: 6, 1017: 7, 1019: 8, 895: 9, 601: 10, 611: 11, 617: 12, 739: 13, 707: 14, 684: 15, 701: 16, 702: 17, 709: 18, 685: 19, 973: 20, 894: 21, 656: 22, 728: 23, 730: 24, 964: 25, 731: 26, 885: 27, 898: 28, 979: 29, 980: 30, 1100: 31, 715: 32, 943: 33, 726: 34, 727: 35, 886: 36, 740: 37, 1060: 38, 659: 39, 678: 40, 651: 41, 654: 42, 686: 43, 1099: 44, 683: 45, 917: 46, 1033: 47, 614: 48, 1139: 49, 657: 50, 681: 51, 1141: 52, 674: 53, 890: 54, 649: 55, 648: 56, 645: 57, 642: 58, 1104: 59, 1011: 60, 1165: 61, 1110: 62, 687: 63, 665: 64, 653: 65}, '_global_mean': None, '_inner2raw_id_users': None, '_inner2raw_id_items': None}

In [67]:
trainSet._raw2inner_id_items

{600: 0, 602: 1, 604: 2, 872: 3, 873: 4, 875: 5, 868: 6, 1017: 7, 1019: 8, 895: 9, 601: 10, 611: 11, 617: 12, 739: 13, 707: 14, 684: 15, 701: 16, 702: 17, 709: 18, 685: 19, 973: 20, 894: 21, 656: 22, 728: 23, 730: 24, 964: 25, 731: 26, 885: 27, 898: 28, 979: 29, 980: 30, 1100: 31, 715: 32, 943: 33, 726: 34, 727: 35, 886: 36, 740: 37, 1060: 38, 659: 39, 678: 40, 651: 41, 654: 42, 686: 43, 1099: 44, 683: 45, 917: 46, 1033: 47, 614: 48, 1139: 49, 657: 50, 681: 51, 1141: 52, 674: 53, 890: 54, 649: 55, 648: 56, 645: 57, 642: 58, 1104: 59, 1011: 60, 1165: 61, 1110: 62, 687: 63, 665: 64, 653: 65}

In [77]:
ld = list (trainSet._raw2inner_id_items.keys())

In [78]:
ld

[600, 602, 604, 872, 873, 875, 868, 1017, 1019, 895, 601, 611, 617, 739, 707, 684, 701, 702, 709, 685, 973, 894, 656, 728, 730, 964, 731, 885, 898, 979, 980, 1100, 715, 943, 726, 727, 886, 740, 1060, 659, 678, 651, 654, 686, 1099, 683, 917, 1033, 614, 1139, 657, 681, 1141, 674, 890, 649, 648, 645, 642, 1104, 1011, 1165, 1110, 687, 665, 653]

In [79]:
litemID

[600, 602, 604, 872, 873, 875, 868, 1017, 1019, 895, 601, 611, 617, 739, 707, 684, 684, 701, 702, 709, 685, 973, 894, 656, 709, 728, 730, 964, 731, 885, 898, 979, 980, 1100, 715, 943, 726, 727, 601, 886, 611, 617, 739, 739, 740, 684, 1060, 885, 659, 678, 651, 654, 686, 684, 702, 1099, 683, 898, 917, 1033, 614, 683, 684, 1139, 657, 739, 681, 1141, 674, 617, 728, 979, 890, 651, 649, 648, 645, 642, 614, 684, 1104, 1141, 702, 885, 1011, 1165, 1110, 687, 665, 681, 979, 653]

In [80]:
mylist = litemID
mylist = list(dict.fromkeys(mylist))

In [81]:
mylist

[600, 602, 604, 872, 873, 875, 868, 1017, 1019, 895, 601, 611, 617, 739, 707, 684, 701, 702, 709, 685, 973, 894, 656, 728, 730, 964, 731, 885, 898, 979, 980, 1100, 715, 943, 726, 727, 886, 740, 1060, 659, 678, 651, 654, 686, 1099, 683, 917, 1033, 614, 1139, 657, 681, 1141, 674, 890, 649, 648, 645, 642, 1104, 1011, 1165, 1110, 687, 665, 653]

In [86]:
mylist == ld

True

In [69]:
trainSet._raw2inner_id_users

{'SK4056': 0, 'SK4422': 1, 'SK4774': 2, 'SK4973': 3, 'SK4781': 4, 'SK4558': 5, 'SK4316': 6, 'SK4576': 7, 'SK4786': 8, 'SK4788': 9, 'SK4787': 10, 'SK4789': 11, 'SK4791': 12, 'SK4032': 13, 'SK4033': 14, 'SK4245': 15, 'SK4127': 16, 'SK4058': 17, 'SK4247': 18, 'SK4037': 19}

In [87]:
lu = list (trainSet._raw2inner_id_users.keys())

In [70]:
luserID

['SK4056', 'SK4056', 'SK4056', 'SK4056', 'SK4056', 'SK4056', 'SK4056', 'SK4056', 'SK4056', 'SK4056', 'SK4422', 'SK4422', 'SK4422', 'SK4774', 'SK4774', 'SK4973', 'SK4781', 'SK4781', 'SK4781', 'SK4781', 'SK4558', 'SK4558', 'SK4316', 'SK4316', 'SK4316', 'SK4316', 'SK4576', 'SK4576', 'SK4576', 'SK4786', 'SK4786', 'SK4786', 'SK4786', 'SK4786', 'SK4786', 'SK4786', 'SK4788', 'SK4788', 'SK4788', 'SK4788', 'SK4788', 'SK4788', 'SK4787', 'SK4789', 'SK4789', 'SK4791', 'SK4791', 'SK4791', 'SK4032', 'SK4032', 'SK4032', 'SK4032', 'SK4032', 'SK4033', 'SK4033', 'SK4033', 'SK4033', 'SK4245', 'SK4245', 'SK4245', 'SK4245', 'SK4127', 'SK4127', 'SK4127', 'SK4127', 'SK4058', 'SK4058', 'SK4058', 'SK4058', 'SK4058', 'SK4058', 'SK4058', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4247', 'SK4037', 'SK4037', 'SK4037', 'SK4037', 'SK4037']

In [88]:
mylistu = luserID
mylistu = list(dict.fromkeys(mylistu))

In [89]:
mylistu == lu

True

In [46]:
t1 = pd.DataFrame(simsMatrix)

In [47]:
t1

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
63,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
64,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0